@{
  Layout = "_Layout";
}

@model UniRegistrar.Models.Course

<h2>Are you sure you want to banish this course to the abyss???</h2>

<p>Course: @Html.DisplayFor(model => model.CourseNumber) @Html.DisplayFor(model => model.CourseName)</p>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

@Html.ActionLink("Oh thank goodness you spared me", "Index")