@{
  Layout = "_Layout";
}

<h1>Pigwarts School of Magic and Trickery Registrar</h1>

<ul class="menu-links">
  <li>@Html.ActionLink("Student directory","Index","Students")</li>
  <li>@Html.ActionLink("Course catalog","Index","Courses")</li>
  <li>@Html.ActionLink("Departments","Index","Departments")</li>
</ul>